<!DOCTYPE html>
<html>
<head> </head>
<body>

<form action='/register' method='POST'>
  <div class="container">
    <h1>Register</h1>
  

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="psw" >
    <br>
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="cpassword" id="psw-repeat" >
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>

</form>

</body>